/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --bg-color: #000028;
  --title-color: #db00ff;
  --shadow-color: #ff0070;
  --accent-color: #ff0070;
  --text-color: #f1b2ce;
  --decor-bg-color: #ff0070;
  --decor-text-color: #000028;
  --button-shadow-color: #ff007066;
  --bg-image: url(../images/cover-image-dark.png);
}

.header__rec {
  display: inline-block;
}
