/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --bg-color: #000028;
  --title-color: #db00ff;
  --title-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --shadow-color: #ff0070;
  --accent-color: #ff0070;
  --text-color: #f1b2ce;
  --decor-bg-color: #ff0070;
  --decor-text-color: #000028;
  --button-shadow-color: #ff007066;
  --font-family: IBM Plex mono, monospace;
  --font-size: 18px;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --page-gap: 10px;
  --line-gap: 10px;
  --bg-image: url(../images/cover-image-dark.png);
}

@media (width >=768px) {
  :root {
    --page-gap: 20px;
    --title-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}
